---
layout: mwh
title: Mudit Jain | designer, developer, thinker
---
<header class="main-header subpg">

  <div class="top-header ng-scope"><!--top header starts -->
    <div class="branding">
      <div class="logo">
        <a href="/">
          <img src="/assets/svg/myavtar.svg" alt="">
        </a>
      </div>
    </div>
    <nav role="navigation" class="main-nav">
      <ul id="navItems">
        <li><a href="//makewebhappy.com/">home</a></li>
        <li><a href="//makewebhappy.com/services">services</a></li>
        <li><a href="//makewebhappy.com/projects">projects</a></li>
        <li><a href="//makewebhappy.com/blogs">blog</a></li>
      </ul>

      <div class="mobo-menu">
        <a class="trigger">
          <svg viewBox="0 0 800 600">
            <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
            <path d="M300,324 L540,324" id="middle"></path>
            <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
          </svg>
        </a>
      </div>
    </nav>
  </div>

</header>


<main class="main-content">
  <header class="blog-header ng-scope">

    <figure class="me-writer">
      <span class="writerBG">
        <svg>
          <use xlink:href="/assets/svg/sprite.svg#writerbg"></use>
        </svg>
      </span>

      <img src="assets/svg/writer-me.svg" alt="">
    </figure>

    <div class="bh-content">
        <h1>As a Writer.</h1>
        <h2>We love to spread the knowledge!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
    </div>

  </header>



<section class="blogPosts-container">
  {% for post in site.posts %}
  <article class="blogPost">
    <div class="post-meta">
      <span class="date">{{post.date}}</span>
      <span class="dot"></span>
      <a class="categories">{{post.categories}}</a>
    </div>

    <div class="post-content">
      <h1 class="post-title">{{post.title}}</h1>
      <div class="post-excerpt" >{{post.excerpt}}</div>
    </div>

    <div class="post-actions">
      <!-- href="{(post.url)}" -->
      <a class="read" href="{{ post.url | prepend: site.baseurl }}">
        <span class="Ico-read">
          <svg>
            <use xlink:href="/assets/svg/sprite.svg#readIco" />
          </svg>
        </span>
      </a>

      <a class="love">
        <span class="Ico-love">
          <svg>
            <use xlink:href="/assets/svg/sprite.svg#loveIco" />
          </svg>
        </span>
      </a>
    </div>
  </article>
  {% endfor %}

</section>

</main>

<!-- newsletter -->
{% include newsletter.html %}
<!-- footer -->
{% include footer.html %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93675834-1', 'auto');
  ga('send', 'pageview');

</script>
