<!DOCTYPE html>
<html ng-app="mwhApp" ng-strict-di>
    {% include head.html %}
    <body ng-controller="MainCtrl" class="">
      <div class="mobileNavWrap">
        <div class="mobileNav-content">

          <header class="mn-header">
            <div class="mn-image" style="background-image: url({{ site.baseurl }}assets/images/mudit.jpg)">
              <div class="logo">
                <a href="/">
                  <img src="/assets/svg/myavtar.svg" alt="">
                </a>
              </div>
            </div>

          </header>

          <div class="mn-content">
            <nav class="mn-nav">
              <ul>
                <li>
                  <a>&nbsp;</a>
                </li>
                <li>
                  <a href="#/services">services</a>
                </li>
                <li>
                  <a href="#/projects">projects</a>
                </li>
                <li>
                  <a href="#/products">products</a>
                </li>
                <li>
                  <a>blog</a>
                </li>
                <li>
                  <a>shop</a>
                </li>

              </ul>
            </nav>
          </div>

        </div>
      </div>
      <header class="main-header postpgHeader" style="background-image:url(/assets/images/blog_banners/{{page.bannerImg}})">
        {% include topHeader.html %}
        <div class="postHead">
          
          <span class="post-cat">{{page.categories}}</span>
          <h1 class="post-title">{{page.title}}</h1>
          <span class="post-date">{{page.shortdate}}</span>
        </div>
      </header>



<section class="post-container">
  <article class="post-content">
    {{ content }}
  </article>
</section>

    <!-- newsletter -->
    {% include newsletter.html %}
    <!-- footer -->


 

    {% include footer.html %}

    {% include scripts.html %}
    </body>


       <!--comments-->
    <div id="disqus_thread"></div>
  <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://makewebhappy.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    
    <!--comments-->
</html>
